#reset {
    -fx-background-color: #FF6347;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 10px;
}

#reset:hover {
    -fx-background-color: #85210a;
}

#start {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 10px;
}

#start:hover {
    -fx-background-color: #096309;
}

#newTurn {
    -fx-background-color: #2e91d2;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 10px;
}

#newTurn:hover {
    -fx-background-color: #0a3c5c;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9, #button10 {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-min-height: 50px;
    -fx-min-width: 60px;
    -fx-padding: 10px 10px;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover, #button5:hover, #button6:hover, #button7:hover, #button8:hover, #button9:hover, #button10:hover {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

#probNum1, #probNum2, #probNum3, #probNum4, #probNum5, #probNum6, #probNum7, #probNum8, #probNum9, #probNum10 {
    -fx-font-size: 10px;
}
