/* Selettore per ID reset */
* {
}

#reset {
    -fx-background-color: #FF6347;  /* Colore di sfondo Tomato */
    -fx-text-fill: white;  /* Colore del testo */
    -fx-font-size: 16px;  /* Dimensione del font */
    -fx-padding: 10px 10px;  /* Padding */
}

#start {
    -fx-background-color: green;  /* Colore di sfondo Tomato */
    -fx-text-fill: white;  /* Colore del testo */
    -fx-font-size: 16px;  /* Dimensione del font */
    -fx-padding: 10px 10px;  /* Padding */
}

#newTurn {
    -fx-background-color: #2e91d2;  /* Colore di sfondo Tomato */
    -fx-text-fill: white;  /* Colore del testo */
    -fx-font-size: 16px;  /* Dimensione del font */
    -fx-padding: 10px 10px;  /* Padding */
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9, #button10 {
    -fx-background-color: white;  /* Colore di sfondo Tomato */
    -fx-border-color: black;
    -fx-min-height: 50px;
    -fx-min-width: 60px;
    -fx-padding: 10px 10px;  /* Padding */
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover, #button5:hover, #button6:hover, #button7:hover, #button8:hover, #button9:hover, #button10:hover {
    -fx-background-color: #c5c5c5;
}

#probNum1, #probNum2, #probNum3, #probNum4, #probNum5, #probNum6, #probNum7, #probNum8, #probNum9, #probNum10 {
    -fx-font-size: 10px;
}